{% extends 'base.html' %}

{% load static %}

{% block body %}

{% if tem_estoque %}

    <img src="{{ produto.imagem.url }}" width="300" height="450" alt="">
    <h2>{{ produto.nome }}</h2>
    <h3> {{ produto.preco }}</h3>

    {% for cor in cores %}
    <a href="{% url 'ver_produto' produto.id cor.id %}">
        <i class="fa-solid fa-circle" style="color:
                {{cor.codigo}};"></i></a>
    {% endfor %}

{% if cores_selecionadas %}

{% for cor in cores %}
{{ cor }}
{% endfor %}

{% endif %}

<form action="{% url 'adicionar_carrinho' produto.id %}" method="post">
{% if tamanhos %}
    {% csrf_token %}
    <p>Selecione o tamanho</p>
     {% for tamanho in tamanhos %}
     <input type="radio" name="tamanho" value="{{ tamanho }}">
     <label for="{{ tamanho }}">{{ tamanho }}</label>     
{% endfor %}
    <button type="submit"> adicionar ao carrinho </button> 
    <input type="hidden" name="cor" value=" {{ cores_selecionadas.id }}">
</form> 
{% endif %}  

{% else %}
    Produto Indisponível
{% endif %}
{% endblock %}